node_modules
.yarn
package-lock.json
dist
stats.html
Testing
yarn-error.log

# vim
*~
*.swp

# vscode
.vscode

# idea
.idea

# docz (https://github.com/doczjs/docz)
.docz

# npm: use only warn lock file
package-lock.json

# Mac DS files
.DS_Store

doc/public

# jest
/coverage
